* {
    margin:0;
    padding:0;
    font-family: yu gothic light;
    box-sizing: border-box;
}

.body {
	touch-action: none;
}

div.welcome_page_text {
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 45%;
}

div.navbar {
    background-color: rgb(226, 195, 16);
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

div.navbar nav {
    list-style-type: none;
}

div.navbar a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    float: left;    /* notwendig? */
}

div.navbar a:hover:not(.active) {
    background-color: rgb(255, 239, 148);
}

div.navbar a.active {
    background-color: rgb(255, 239, 148);
}

div.logo {
    float: right;
    margin-right: 30px;
}

div.logo img {
    width: auto;
    height: 60px;
}

div.video_page_title {
	position: relative;
    margin-top: 25px;
    margin-left: 2%;
    margin-right: 45%;
}

div.video_page_title h1{
	margin-bottom: 0px;
}

div.video_page_table {
    display: flex;
	position: relative;
	margin-top: 0px;
	margin-left: 2%;
	margin-right: 2%;
	width: 95%;
    justify-content: space-between;
    overflow: hidden;
}

div.video_page_table td {
	vertical-align: top;
}

div.video_page_table .video-column {
    position: relative;
}

div.video_page_table .text-column {
    width: 40%;
    /*padding-left: 20px;*/
	overflow: hidden;
}

div.infobox {
    max-width: 70%;
}

div.player_column {
  position: relative;
}

div.player_column video {
  width: auto;
  height: 450px;
  z-index: -1;
}

div.video_page_table .text-column p {
	max-width: 85%;
}


div.team_page_text {
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 45%;
}

div.team_images_column {
    margin-left: 5%;
    float: left;
    width: 20%;
    height: auto;
}

div.team_images_column img {
    width: 100%;
    margin-bottom: 10%;
}

div.team_images_column ul {
    margin-left: 5%;
}

div.team_images_row::after {
    content: "";
    clear: both;
    display: table;
  }

.box-container .box {
    width: 60px;
    height: 375px;
    border: 3px solid greenyellow;
    padding: 10px;
    margin: 10px;
    display: none;
    z-index: 1;
    position: absolute;
    top: 230px;
    left: 340px;
    cursor: pointer;
}	
