* {
    margin:0;
    padding:0;
   font-family: yu gothic light;
}

div.welcome_page_text {
    margin-top: 180px;
    margin-left: 8%;
    margin-right: 45%;
}

div.navbar {
    background-color: rgb(226, 195, 16);
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

div.navbar nav {
    list-style-type: none;
}

div.navbar a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    float: left;    /* notwendig? */
}

div.navbar a:hover:not(.active) {
    background-color: rgb(255, 239, 148);
}

div.navbar a.active {
    background-color: rgb(255, 239, 148);
}

div.logo {
    float: right;
    margin-right: 30px;
}

div.logo img {
    width: auto;
    height: 60px;
}

div.video_page_title {
	position: relative;
    margin-top: 25px;
    margin-left: 2%;
    margin-right: 45%;
	/*border:1px solid;*/
}

div.video_page_title h1{
	margin-bottom: 0px;
}

div.video_page_table {
	position: absolute;
	margin-top: 0px;
	margin-left: 2%;
	margin-right: 2%;
	width: 96%;
	/*border:1px solid;*/
}

div.video_page_table td {
	/*border:1px solid;*/
	vertical-align: top;
}

div.video_page_table td:first-child {
	width: auto;
}

div.video_page_table td:nth-child(2){
	width: 35%;
	padding: 15px;
}

div.player_column {
  oposition: relative;
}

div.player video {
  width: auto;
  height: 450px;
  
}
	