div.team-page-text {
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 45%;
}

div.team-images-column {
    margin-left: 5%;
    float: left;
    width: 20%;
    height: auto;
}

div.team-images-column img {
    width: 100%;
    margin-bottom: 10%;
}

div.team-images-column ul {
    margin-left: 5%;
}

div.team-images-row::after {
    content: "";
    clear: both;
    display: table;
  }