div.team-page-text {
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 45%;
}

div.team-images-column {
    margin-left: 5%;
    float: left;
    width: 20%;
}

div.image-container {
    margin-bottom: 10%;
    height: 360px;
    overflow: hidden;
    object-fit: contain;
}

div.team-images-column img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

div.team-images-column ul {
    margin-left: 5%;
}

div.team-images-row::after {
    content: "";
    clear: both;
    display: table;
}